@model IEnumerable<WebApplication1.Models.Customer>
@{
    ViewBag.Title = "Index";
}
<a href="/Student/AddCustomer" class="btn btn-sm btn-warning">Add Customer</a>
<table class="table table-bordered table-hover">
    <thead class="bg-primary text-warning text-center">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var d in Model)
            {
                <tr class="text-center">
                    <td>@d.Id</td>
                    <td>@d.FirstName</td>
                    <td>@d.LastName</td>
                    <td>@d.Gender</td>
                    <td>@d.Country</td>
                    <td>@d.Age</td>
                </tr>
            }
    </tbody>
</table>

